html{
  scroll-behavior: smooth;
}
  body{
    line-height: 1.3em;
    color: white;
    font-family: arial, sans-serif;
    background: linear-gradient(to right, #ffffff -3%, #4d4d4d 100%);
  }
  .center{
    width: 250px;
    align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  .wrapper{
    width: 550px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    padding: 10px;
    border-radius: 25px;
    line-height: 1.1em;
    text-align: center;
    }
    .differentcolor{
      color: #6699ff;
      text-align: center;
      text-shadow: white;

    }
    h1{
      text-align: center;
      color: blue;
      font-family:georgia,serif;
      font-size: 350%;
      padding-top: 15px

    }
    a{
      color: white;
      text-decoration: none;
      text-align: center;
    }
    a:hover{
      color: #cc0000;
      text-decoration: underline;
    }
    h2{
      text-align: center;
      color: red;
      border-bottom: 3px solid red;
      align-content: center;
      padding-bottom: 5px;

    }
    h3{
      color: #cc0000;
      align-content: center;
      text-align: center;
    }
    .wrap{
    text-align: center;
    line-height: 1.5em;
    }
    li{
      color: white;
      padding-bottom: 5px;
      text-align: center;
      list-style-position: inside;
    }
    ol{
      list-style-position: inside;
      text-align: center;
    }

  }
