html{
  scroll-behavior: smooth;
}
  body{
    line-height: 1.3em;
    color: white;
    font-family: arial, sans-serif;
    background: linear-gradient(to right, #ffffff -3%, #4d4d4d 100%);
  }
  .center{
    width: 250px;
    align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  .wrapper{
    width: 550px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    padding: 10px;
  }
    .differentcolor{
      color: grey;
    }
    h1{
      text-align: center;
      color: blue;
      font-family:georgia,serif;

    }
    a{
      color: white;
      text-decoration: none;
      text-align: center;
    }
    a:hover{
      color: #cc0000;
      text-decoration: underline;
    }
    h2{
      text-align: center;
      color: red;
      border-bottom: 1px solid red;

    }
    h3{
      text-align: center;
      color: #cc0000;
    }
    .wrap{
    text-align: center;
    line-height: 1.5em;
    }
    li{
      color: white;
      padding-bottom: 5px;
      text-align: center;
    }

  
